
.register2-main2-w{
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
}
.register2-main2-w img{
    width: 160px;
    height: 110px;
    padding: 3px;
    display: block;
}.am-u-sm-6{
    width: 80%;
 }