<!doctype html>
<html class="no-js">@{
    SuperMarket.Model.IssueContentEntity entity = ViewBag.Content;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小店-帮助中心</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="小店_车配网_汽配_汽车用品_汽车配件_乘用车配件_商用车配件_机油_汽修_辅料" />
<meta name="description" content="小店是国内最专业的汽车零部件及相关用品的在线采购网站。在线销售的产品齐全：机油、火花塞、电瓶、刹车片、滤清器、灯泡、养护品、雨刮片、发动机件、底盘件、车身件、内饰件、等全车件。品牌产品，诚信经营。" />

    <link rel="shortcut icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/themes/basic/css/amazeui.min.css">
    <link rel="stylesheet" href="/themes/basic/css/basic.css">
    <link rel="stylesheet" href="/themes/basic/css/personal.css">
    <script src="/themes/basic/js/jquery.min.js"></script>
    <script src="/themes/basic/js/amazeui.min.js"></script>
    <script src="/themes/basic/js/common.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
</head>
<body>
    <div style="display:none;">
        <input type="hidden" id="hidLoginWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
    </div>
    <!----header开始----->
    <header data-am-widget="header" class="am-header am-header-fixed header">
        @Html.Partial("controls/_HeadBanner")
        <h1 class="am-header-title">
            <a href="javascript:void(0)">
                小店
            </a>
        </h1>
    </header>
    <!----header结束----->
    <!-------内容开始---------->
    <div class="service">
       @Html.Raw(entity.IssueContent)
    </div>
    <!-------内容结束---------->
    <!--------nav footer开始--------->
    @Html.Partial("controls/_FootBanner")
</body>
</html>