
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小店手机网站正式上线啦-国内最专业的汽车零部件及相关用品的在线采购网站</title> 
    <meta name="renderer" content="webkit"> 
    <link rel="icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <meta name="keywords" content="阿哈马_车配网_汽配_汽车用品_汽车配件_乘用车配件_商用车配件_机油_汽修_辅料" />
<meta name="description" content="小店是国内最专业的汽车零部件及相关用品的在线采购网站。在线销售的产品齐全：机油、火花塞、电瓶、刹车片、滤清器、灯泡、养护品、雨刮片、发动机件、底盘件、车身件、内饰件、等全车件。品牌产品，诚信经营。" />
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
   
    <link rel="stylesheet" href="/Themes/Basic/css/amazeui.min.css">
    <link rel="stylesheet" href="/Themes/Basic/css/start.css">
    <meta name="image" content="http://m.aahama.com/Themes/Basic/img/ahamatitle.jpg"> 
<div id='wx_pic' style='margin:0 auto;display:none;'>
    <img src='http://m.aahama.com/Themes/Basic/img/ahamatitle.jpg' />
</div> 
</head>
<body>
<div style="display:none;">
    <img src="http://m.aahama.com/Themes/Basic/img/ahamatitle.jpg" alt="小店" title="小店">
</div>
<div style="display:none;"><div style="display:none;">
    <input type="hidden" id="hidLoginWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
</div>
    <input name="title" value="小店-国内最专业的汽车零部件及相关用品的在线采购网站" />
    <input name="imgUrl" value="http://m.aahama.com/Themes/Basic/img/ahamatitle.jpg" />
    <input name="desc" value="小店是国内最专业的汽车零部件及相关用品的在线采购网站。在线销售的产品齐全：机油、火花塞、电瓶、刹车片、滤清器、灯泡、养护品、雨刮片、发动机件、底盘件、车身件、内饰件、等全车件。品牌产品，诚信经营。" />
</div>   
    <div class="start-main">
        <div class="start">
            <img id="imgtop1" src="http://images.1dianxin.com/autoupload/homeimg/dt/m00.jpg"  class="am-img-responsive" /> 
        </div> 
        <div class="start2">
            <img id="imgtop2" src="/Themes/Basic/img/start/top2.jpg"> 
        </div>
        <div class="start3 am-cf">
            <a href="/MobileHome/Index">
                进入阿哈马
            </a>
        </div>
    </div>  
        <script>
            function jumpurl() {
                location = '/mobilehome/index';
            }
            setTimeout('jumpurl()', 3000);
        </script> 
</body>
</html>