
<div id="divAddressListCanvas" class="am-offcanvas">
    <div class="am-offcanvas-bar am-offcanvas-bar-flip">
        <div class="am-offcanvas-content">
            <!-------头部开始-------->
            <header data-am-widget="header" class="am-header header">
                <div class="am-header-left am-header-nav paycheck-offcanvas-fanhui">
                    <a   onclick="FunCloseCanvas('divAddressListCanvas')">
                        <i class="am-header-icon am-icon-angle-left am-icon-md">返回</i>
                    </a>
                </div>
                <h1 class="am-header-title">
                    收货地址
                </h1>
                <div class="am-header-right am-header-nav paycheck-dizhi-new">
                    <a href="javascript:void(0)" class="" onclick="FunAddNewAddressOpen()">
                        新增
                    </a>
                </div>
            </header> 
            <ul class="am-list am-list-static paycheck-offcanvas-ul" id="ulAddressListBox">
               
            </ul>
        </div>
    </div>
</div>

