    <!-----当日成交额开始------>
<div class="home-deal am-cf">
    <p class="am-fl">当日成交额:￥<span  id="spanchengjiao">0</span>元</p>
    <div class="deal-scroll am-fl"  id="deal-scroll">
        <ul style="width: 2560px;"> 
        </ul>
    </div>
</div>

<!-----当日成交额结束------>