<div class="am-header-right am-header-nav cart" style="padding-right: 1rem">
    <a href="/Cart/ShopCart">
        <i class="am-icon-shopping-cart am-icon-md"></i>
    </a>
    <span class="am-badge am-badge-danger am-round" id="CartCount">0</span>
</div>