@{ 
  string  tabid = Model;
} 
<div data-am-widget="navbar" class="am-navbar am-cf footer-navbar am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-5">
        <li class="@(ViewBag.PageMenu=="1"?"footer-active":"")">
            <a href="/Home/Index" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li class="@(ViewBag.PageMenu=="2"?"footer-active":"")">
            <a href="/Product/Categray?s=@(ViewBag.SiteId)" class="">
                <span class="am-icon-list"></span>
                <span class="am-navbar-label">分类</span>
            </a>
        </li> 
        <li>
            <a href="tel:02131349908">
                <span class="am-icon-phone"></span>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li class="@(ViewBag.PageMenu=="3"?"footer-active":"")">
            <a href="/Cart/ShopCart" class="">
                <span class="am-icon-shopping-bag"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li  class="@(ViewBag.PageMenu=="4"?"footer-active":"")">
            <a href="/Member/Home" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>