
@{
//Dictionary<string,string> dicmenu=SuperMarket.BLL.Common.SuperMarketCommon.
}<div class="sidebar fl">
    <div class="sidebar-nav-list">
        <ul>  
            <li class="sidebar-nav-li">
                <div class="sidebar-nav-title">
                    <img src="/Themes/Basic/img/icon2.png" style="vertical-align: middle" />
                    基础信息管理
                    <span class="arrow-up"></span>
                    <span class="arrow-down"></span>
                </div>
                <ol class="sidebar-nav-ol">
                    <li><a href="/SysBasicInfo/BrandList">品牌管理</a></li>
                    <li><a href="/SysBasicInfo/ProductList">产品管理</a></li>  
                </ol>
                <div class="clear"></div>
            </li> 
        </ul>
        <ul>
            <li class="sidebar-nav-li">
                <div class="sidebar-nav-title">
                    <img src="/Themes/Basic/img/icon2.png" style="vertical-align: middle" />
                   财务管理
                    <span class="arrow-up"></span>
                    <span class="arrow-down"></span>
                </div>
                <ol class="sidebar-nav-ol">
                    <li><a href="/SysFinance/PayOrderList">在线收款明细</a></li> 
                </ol>
                <div class="clear"></div>
            </li>
        </ul>

    </div>
</div>