
<div class="index-nav">
    <ul class="nav-left fl">
        <li class="nav-active"><a href="/">首页</a></li> 
    </ul>
    <ul class="nav-right fr">
        <li><a href="/SysMemHome/Index">询价后台管理</a></li>
        <li><a href="/SysBasicInfo/Index">商城后台管理</a></li>
        <li><a href="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.MainWebUrl">商城</a></li> 
    </ul>
</div>
<div class="clear"></div>