

<div class="top">
    <div class="top-content">
        <!------左侧开始------->
        <ul class="top-left">
            <li><a>阿哈马后台</a></li>
            <li id="logininfo">  <a href="#">退出</a>  </li>
            <li>

            </li>
        </ul>
        <!------左侧结束------->
        <!-----右侧开始------>
        <ul class="fr">
            <li>
                <a href="#">系统管理</a>
            </li>
        </ul>
        <!-----右侧结束------>
    </div>
    <div class="clear"></div>
</div>