@charset"utf-8";

/*******内容*******/
.affirm{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
.affirm-title{
    margin-bottom: 0;
    background-color:#F7F7F7;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    padding: .5rem 1rem .5rem 1rem;
}
.affirm-main{
    padding-top: .5rem;
    margin-top: .6rem;
    background-color: #fff;
}
.affirm-w p{
    margin-bottom:.8rem;
    margin-top: 0;
}
.red{
    color: red;
}
.affirm-cont{
    padding-left: 0;
}
.affirm-cont .am-u-sm-4{
    padding: 0 .5rem;
}

.affirm-beizhu{
    width: 70%;
    max-height:2rem;
    overflow-y: scroll;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

/*******取消订单的弹出框样式******/
.affirm-quxiao-w{
    margin-top: 20px;
    height: 35px;
    line-height: 35px;
    margin-left: 10%;
    width: 80%;
}
.affirm-quxiao-tex{
    margin-top: 10px;
    line-height: 25px;
    margin-left: 10%;
    width: 80%;
}
.affirm-active{
    background: url("../img/paycheck_icon.png") no-repeat right center;
    width: 22px;
    height: 16px;
}
.layui-layer, .layui-layer-page, .layui-layer-rim, .layer-anim{
    width:90% !important;

}
.layui-layer-btn .layui-layer-btn0{
    background-color: red !important;
    border: 1px solid red !important;
}