@{
    SuperMarket.Entities.VWMemberEntity _member = ViewBag.VWMember;
}<!----头部开始------>
<header data-am-widget="header" class="am-header header">
    @Html.Partial("controls/_HeadLeftBanner")
    <h1 class="am-header-title">
        <a href="#">
            上传营业执照
        </a>
    </h1>
</header>
<!----头部结束------>
<div class="register">
    <div class="register3-main">
        <p>图片上传支持格式，包括JEPG,PNG,JPG。</p>
        <div class="am-g am-cf"> 
            <div class="am-u-sm-6"> 
                <div id="divuploadlisence" class="register2-main2-w">
                    <img id="imglisence" src="/Themes/Basic/img/register-tp2.png">
                </div>
                <div><span style="color:red">*</span>上传营业执照</div>
            </div>
        </div>
        <p class="register3-p"><i class="am-icon am-icon-exclamation-triangle" style="color: red;padding-right: .3rem"></i>温馨提示：</br>您提供的证照信息阿哈马将予以严格的加密保护，保证此证照信息仅用于注册审核<span style="color: red;">  图片需要能够清晰的显示签发机构,要求文字清晰易识别</span></p>
    </div>
    <div style="padding: 1rem 2rem">
        <a class="am-btn register-sub"  onclick="Register3()" >提交认证</a>
    </div>
</div>
<div style="display:none;">
    <input type="hidden" id="hidTimeStampTab" value="@_member.TimeStampTab" />
    <input type="hidden" id="hidMemId" value="@_member.MemId" />
    <input type="hidden" id="txtLisencePath" value="@_member.LicensePath" />

</div>

<script>
    var arrimagespath = new Array();
    //实例化每个div
    $('#divuploadlisence').diyUpload({
        url: '/Home/UploadLicense',
        imagedefaultpath: arrimagespath,
        fileNumMax: 1,
        formData: {
            pictype: 3  //营业执照或门头照片
        },
        success: function (fileid, data) {
            if (data != "" && data.pic_raw != "") {
                var strimagesurl = $("#txtPicServerRootUrl").val();
                $("#txtLisencePath").val(data.pic_raw);
                $("#imglisence").attr("src", strimagesurl + data.pic_raw);
                $("#imglisence").attr("fileid", fileid);
            }
        },
        complete: function () {

        },
        error: function (err) {
            alert(err);
        }
    });

    function Register3() {
        var stamp = $.trim($("#hidTimeStampTab").val());
        var memid = $.trim($("#hidMemId").val());
        var licensepath = $.trim($("#txtLisencePath").val());
        $.post("/Home/Reg3Submit", {
            memid: memid, stamp: stamp, licensepath: licensepath
        }, function (data) {
            var _returncode = eval("(" + data + ")");
            var status = -_returncode.Status;
            if (status == _TheArray[0]) {
                alert("您的会员申请已成功提交，请等待审核！");
                if (returnurl == "")
                {
                    returnurl = $("#hidMainWebUrl").val();
                }
                location.href = returnurl;
                return false;
            }
            else {
                alert(_TheArray[status]);
                return false;
            }
        });
    }
</script>