<header data-am-widget="header" class="am-header header">
    @Html.Partial("controls/_HeadLeftBanner")
    <h1 class="am-header-title">
        <a href="javascript:void(0)">
            会员注册
        </a>
    </h1>
</header>
<div class="register">
    <div class="register-main">
        <div class="am-g" style="padding-top:1rem">
            <p class="am-u-sm-12 am-center" style="margin-bottom: .8rem">1,验证手机>2 填写资料>3等待审核</p>
        </div>
        <p id="error" style="text-indent: 1rem; margin-bottom: 0; padding: .5rem 0; color:red; margin-top: 0;"></p>
        <form action="" class="am-form am-form-inline">
            <div class="register-cont">
                <div class="am-form-icon user-ipone">
                    <i class="am-icon-mobile-phone"></i>
                    <input type="text" class="am-form-field" id="txtMobile" placeholder="请输入手机号码">
                    <span style="color: red;" id="spanMobilemsg"></span>
                </div>
                <div class="am-form-icon user-ipone2">
                    <i class="am-icon-mobile-phone"></i>
                    <input type="text" class="am-form-field" id="txtMobileYZCode" placeholder="请输入手机验证码">
                    <a href="javascript:void(0)" id="divTime" style="display:none;" class="user-ipone-a"></a>
                    <a href="javascript:void(0)" id="divGetCode" onclick="GetMobileYzCode()" class="user-ipone-a">获取验证码</a>
                </div>
               
                <div class="am-form-icon user-ipone">
                    <i class="am-icon-mobile-phone"></i>
                    <input type="password" class="am-form-field" id="txtPassWord" onchange="FunCheckPassWord(this)" placeholder="密码:字母开头，如：asd123456">
                    <span style="color: red;" id="spanMobilemsg"></span>
                </div>
                <div class="am-form-icon user-ipone">
                    <i class="am-icon-mobile-phone"></i>
                    <input type="password" class="am-form-field" id="txtPassWord2" onchange="FunCheckPassWordRe(this)" placeholder="请确认密码">
                    <span style="color: red;" id="spanMobilemsg"></span>
                </div>
            </div>
        </form>
    </div>
    <div style="padding: 1rem 2rem">
        <a class="am-btn register-sub" href="javascript:void(0);" onclick="Register()">下一步</a>
    </div>
</div>

<div style="display:none;">
    <input id="hidIsSupplier" type="hidden" value="@(ViewBag.IsSupplier)" /> 
    <input id="hidIsStore" type="hidden" value="@(ViewBag.IsStore)" />
 </div>
<script>
    $(function () {
        //$("input[name=radIsSupplier]").click(function () {
        //    $("#hidIsSupplier").val($(this).val());
        //});
        $(".clsissupplier").click(function () {
            $(".clsissupplier").removeClass("register-active");
            $(this).addClass("register-active");
            $("#hidIsSupplier").val($(this).attr("issupplier"));
            $("#hidIsStore").val($(this).attr("isstore"));
        })
    })
    var _max = 60;
    var _interval;
    function ChangeText() {
        _max = _max - 1;
        if (_max <= 0) {
            $("#divGetCode").show();
            $("#divTime").hide();
            clearInterval(_interval);
            _max = 60;
        }
        $("#divTime").html(_max + "S");
    }
    function FunCountDown() {
        $("#divGetCode").hide();
        $("#divTime").show();
        _interval = setInterval("ChangeText()", 1000);
        _max = _max - 1;
        $("#divTime").text(_max + "S");

    }

    function GetMobileYzCode() {
        $("#error").html("");
        var mobile = $.trim($("#txtMobile").val());
        if (mobile == "") {
            $("#error").html("请输入手机号码！");
            return;
        }
        if (!mobile.isHandSet()) {
            $("#error").html("你输入的手机号码不符合规范！")
            return;
        }
        FunCountDown();
        $.post("/Home/CheckPhoneIsNotExist", { mobilePhone: mobile }, function (data) {
            var _returncode = eval("(" + data + ")");
            var _returnStatus = -_returncode.Status;
            if (_returnStatus == _TheArray[0]) {
                $.ajax({
                    url: "/Home/SendRegisterMobileMessage",
                    type: "GET",
                    dataType: 'json',
                    data: { mobile: mobile },
                    success: function (data) {
                        var _returncode = data;
                        //var _returncode = eval("(" + data + ")");
                        var _returnStatus = -_returncode.Status;
                        if (_returnStatus == _TheArray[0]) {
                        }
                        else {
                            $("#error").html(_TheArray[_returnStatus]);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    },
                    complete: function (data, status) {
                    }
                });
            }
            else {
                $("#error").html(_TheArray[_returnStatus]);
                _max = 0;
            }

        })
    }
    function FunCheckPassWord(obj) {
        $("#error").html("");
        if ($("#txtPassWord").val() != $("#txtPassWord2").val() && $("#txtPassWord2").val() != "") {
             $(obj).val("");
             $("#error").html("*两次密码输入不一致").show();
            return;
        }
        else if (/^\d*$/.test($(obj).val()) || /^[a-zA-Z]$/.test($(obj).val()) || /^[^\da-zA-Z]$/.test($(obj).val())) {
             $(obj).val("");
             $("#error").html("*至少使用两种字符组合(如asd123456)").show();
            return;
        }
        else {
            $("#error").html("").hide();
        }
    }

    function FunCheckPassWordRe(obj) {
        $("#error").html("");
        if ($("#txtPassWord").val() != $("#txtPassWord2").val()) {
            $(obj).val("");
            $("#error").html("*两次密码输入不一致").show();
            return; 
        }
        else if (/^\d*$/.test($(obj).val()) || /^[a-zA-Z]$/.test($(obj).val()) || /^[^\da-zA-Z]$/.test($(obj).val())) {
            $(obj).val("");
            $("#error").html("*至少使用两种字符组合(如asd123456)").show();
            return;
        }
        else {
            $("#error").html("").hide();
        }
    }

    function Register() {
        $("#error").html("");
        var txtMobile = $.trim($("#txtMobile").val());
        var txtMobileYZCode = $.trim($("#txtMobileYZCode").val());
        var issupplier = $('#hidIsSupplier').val();
        var isstore = $('#hidIsStore').val();
        var txtPassWord = $.trim($("#txtPassWord").val());
        var txtPassWordRe = $.trim($("#txtPassWord2").val());
        var jiaoyan = true;

        if (!jiaoyan) {
            return;
        }

        if (!txtMobile.isHandSet()) {
            $("#error").html("手机号码不规范！")
            $("#txtMobile").focus();
            return;
        }
        if (txtPassWord.length < 6 || txtPassWord.length > 18) {
            $("#error").html("密码需要大于6位小于18位");
            $("#txtPassWord").focus();
            return false;
        }

        $.post("/Home/RegSubmit", {
             password: txtPassWord, mobile: txtMobile, mobilecode: txtMobileYZCode,
             issupplier: issupplier, isstore: isstore
        }, function (data) {
            var _returncode = eval("(" + data + ")");
            var status = -_returncode.Status;
            if (status == _TheArray[0]) {
                var mem = _returncode.Obj;
                var stamp = mem.TimeStampTab;
                location.href = "/Home/Reg2?stamp=" + stamp + "&returnurl=" + encodeURIComponent(returnurl);
                return false;
            }
            else {
                $("#error").html(_TheArray[status]);
                return false;
            }
        });

        return false;
    }

</script>