
@{
    ViewBag.Title = "注册信息提交成功";
}

<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阿哈马车服-注册信息提交成功</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="阿哈马_车配网_汽配_汽车用品_汽车配件_乘用车配件_商用车配件_机油_汽修_辅料" />
    <meta name="description" content="阿哈马车服是国内最专业的汽车零部件及相关用品的在线采购网站。在线销售的产品齐全：机油、火花塞、电瓶、刹车片、滤清器、灯泡、养护品、雨刮片、发动机件、底盘件、车身件、内饰件、等全车件。品牌产品，诚信经营。" />
    <link rel="shortcut icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Themes/Basic/css/amazeui.min.css">
    <link href="/themes/basic/css/basic.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Themes/Basic/css/relogin.css">
    <link rel="stylesheet" href="/Themes/Basic/css/paycheck.css">
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
    <script src="/themes/basic/js/common.js"></script>
</head>
<body>
    <div class="register">
        <!----头部开始------>
        <header data-am-widget="header" class="am-header header">
            <div class="am-header-left am-header-nav">
                <a href="javascript:void(0)" class="">
                    <i class="am-header-icon am-icon-chevron-left"></i>
                </a>
            </div>
            <h1 class="am-header-title">
                <a href="javascript:void(0)">
                    注册成功
                </a>
            </h1>
        </header>
        <!----头部结束------>
        <!---注册开始---->
        <div class="confirmation">
            <div class="confirmation-main1">
                <div class="confirmation-main1-p">
                    <p>
                        <span class="am-icon am-icon-check-square"></span>
                        <span>注册信息提交成功！</span>
                        <a href="@Request["ReturnUrl"]">返回</a>
                    </p>
                </div> 
            </div>
        </div>
    </div> 
</body>
</html>