<div id="divPayMethodCanvas" class="am-offcanvas">
    <div class="am-offcanvas-bar am-offcanvas-bar-flip" style="background-color: #F7F7F7">
        <div class="am-offcanvas-content">
            <!-------头部开始-------->
            <header data-am-widget="header" class="am-header header">
                <div class="am-header-left am-header-nav paycheck-offcanvas-fanhui">
                    <a href="javascript:void(0)" class=""   onclick="FunCloseCanvas('divPayMethodCanvas')">
                        <i class="am-header-icon am-icon-angle-right am-icon-md">返回</i>
                    </a>
                </div>
                <h1 class="am-header-title">
                   支付方式
                </h1>
            </header>
            <!-------头部结束--------->
            <ul class="am-list paycheck-pay-ul" id="ulpaymethodbox">
                
                @*<li class="am-g active" PayType="@((int)SuperMarket.Model.PayType.WeChat)" PayName="微信" IsDefault="1" returnobjid="txtSelectPayType" onclick="FunSelectPayMethod(this)">
                    <div class="am-u-sm-12 paycheck-peisong-main">
                        <p style="color: #333;">微信[推荐]</p>
                    </div>
                </li>*@
                <li class="am-g active"  PayType="@((int)SuperMarket.Model.PayType.AliPayMobile)" PayName="支付宝" IsDefault="1" returnobjid="txtSelectPayType"  onclick="FunSelectPayMethod(this)">
                    <div class="am-u-sm-12 paycheck-peisong-main">
                        <p style="color: #333;">支付宝</p> 
                    </div>
                </li>
                <li class="am-g" PayType="@((int)SuperMarket.Model.PayType.OutLine)"  PayName="线下支付"  IsDefault="0"  returnobjid="txtSelectPayType"  onclick="FunSelectPayMethod(this)">
                    <div class="am-u-sm-12 paycheck-peisong-main">
                        <p style="color: #333;">线下支付</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
