<?xml version="1.0" encoding="utf-8"?>
<ConfigEntity>
  <WebName>Basic</WebName> 
  <CreateHtml>0</CreateHtml> 
  <HTMLPages>
    <HTMLPageEntity>
      <Name>MemberLeft</Name>
      <Version>4</Version>
    </HTMLPageEntity>
    <HTMLPageEntity>
      <Name>HelpLeft</Name>
      <Version>1</Version>
    </HTMLPageEntity>
    <HTMLPageEntity>
      <Name>Categroy</Name>
      <Version>1</Version>
    </HTMLPageEntity>
  </HTMLPages>
  <MobileMessageConfig>
    <Name></Name>
    <AppId>676767</AppId>
    <UserCode>jicheng888</UserCode>
    <PassWord>MHxvpL6L</PassWord>
    <Url>http://www.ztsms.cn:8800/sendNSms.do</Url>
    <MsgBody>您的验证码是：{0},(阿哈马手机动态码，请完成验证）如非本人操作，请忽略本短信。【阿哈马】</MsgBody>
  </MobileMessageConfig>
</ConfigEntity>
