<?xml version="1.0" encoding="utf-8"?>
<ConfigCommonEntity> 
  <PageSize>20</PageSize>
  <HtmlService>\\120.55.160.236</HtmlService>
  <Site_HtmlPath>\Html\</Site_HtmlPath>
  <FtpServer>120.55.160.236</FtpServer>
  <FtpUserName>Ftp</FtpUserName>
  <FtpPassWord>123456</FtpPassWord>
  <FtpImagesRootPath>/Files/Images/</FtpImagesRootPath>
  <FtpImagesSystemName>xindahvB2B/</FtpImagesSystemName> 
  <FtpImagesSysPathList>
    <FtpImagesSysPath>
      <Code>1001</Code>
      <Name>产品图片</Name>
      <Path>/ProductBehind</Path>
    </FtpImagesSysPath>
    <FtpImagesSysPath>
      <Code>1002</Code>
      <Name>产品详情图片</Name>
      <Path>/ProductDescription</Path>
    </FtpImagesSysPath>
    <FtpImagesSysPath>
      <Code>1003</Code>
      <Name>相关证件图片</Name>
      <Path>/Certifacate</Path>
    </FtpImagesSysPath>
  </FtpImagesSysPathList>
  <MemberCookieName>MemberCookieName</MemberCookieName>
  <RegisterMemCookieName>RegisterMemCookieName</RegisterMemCookieName>
  <ComBineCart>ComBineCart</ComBineCart>
  <CookieDomain>.xindahv.com</CookieDomain>
  <ImagesServerUrl>http://images.xindahv.com</ImagesServerUrl>
  <MainWebUrl>http://www.xindahv.com</MainWebUrl>
  <MainMobileWebUrl>http://m.xindahv.com</MainMobileWebUrl>
  <SysWebUrl>http://sys.xindahv.com</SysWebUrl>
  <SysMobileWebUrl>http://sys.xindahv.com</SysMobileWebUrl>
  <HelpWebUrl>http://www.xindahv.com</HelpWebUrl>
  <HelpMobileWebUrl>http://www.xindahv.com</HelpMobileWebUrl>
  <LoginWebUrl>http://login.xindahv.com</LoginWebUrl>
  <LoginMobileWebUrl>http://loginm.xindahv.com</LoginMobileWebUrl>
  <WeChatWebUrl>http://wechat.xindahv.com</WeChatWebUrl>
  <InquiryWebUrl>http://inquiry.xindahv.com</InquiryWebUrl>
  <InquiryMobileWebUrl>http://inquiry.xindahv.com</InquiryMobileWebUrl>
  <MemberWebUrl>http://www.xindahv.com</MemberWebUrl>
  <MemberMobileWebUrl>http://m.xindahv.com/MobileMember/Home</MemberMobileWebUrl>
  <CartCookie>1</CartCookie>
  <XuQiuCookie>1</XuQiuCookie>
  <DomainShopping>http://www.xindahv.com</DomainShopping> 
  <JsVersion>
    <GlobalCarts>3</GlobalCarts>
  </JsVersion>
  <CssVersion>
    <MemberStyle>2</MemberStyle>
  </CssVersion>
  <SendMailManager>20718505@qq.com</SendMailManager> 
  <MobileRegMsgBody>您的验证码是：{0},(阿哈马手机动态码，请完成验证）如非本人操作，请忽略本短信。【阿哈马】</MobileRegMsgBody>
</ConfigCommonEntity>
