@charset"utf-8";
/******公共样式******/
body{
    color: #343333;
    text-align: center;
    background: #61CCEF repeat;
}
ul li{list-style:none;}
a{ text-decoration:none;}
a,img{ border:0 none;}
img{
   width: 100%;
}


.start-main{

}
.start img{

}
.start2{
}
.start2 img{
    width: 65%;
}
.start21 img{
    width: 70%;
}
.start3{
    position: absolute;
    bottom: -50px;
    right: 0;
}

.start3 a{
    background-color: red;
    color: #fff; 
    border-right: none;
    display: block;
    float: right;
    padding: .2rem .6rem;
    border-radius: .3rem;
}
