
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理系统</title>
    <script src="~/Themes/Js/jquery-1.11.1.min.js"></script>
    <script src="~/Themes/Js/tab.js"></script>
    <script type="text/javascript" src="/js/JsGlobalEnum.js"></script>
    <script type="text/javascript" src="~/Js/Common/CommonControlBind.js"></script>
    <script type="text/javascript" src="~/Js/Globals.js"></script>
    @RenderSection("Head", false)
    <link href="~/Themes/Css/style.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $(".li_1").hover(function () {
                $(this).children('ul').show();
            }, function () {
                $(this).children('ul').hide();
            })
            $(".li_2").hover(function () {
                $(this).children('ul').show();
            }, function () {
                $(this).children('ul').hide();
            })
            $(".li_3").hover(function () {
                $(this).children('ul').show();
            }, function () {
                $(this).children('ul').hide();
            })

        });
    </script>
    <script language="javascript" type="text/javascript">

        $(function () {
            $(".webwidget_scroller_tab").webwidget_scroller_tab({
                scroller_time_interval: '5000',
                scroller_window_padding: '10',
                scroller_window_width: '800',
                scroller_window_height: '600',
                scroller_head_text_color: '#0099FF',
                scroller_head_current_text_color: '#666',
                directory: 'images'
            });
        });
    </script>

</head>

<body>

    <div class="bg_container">
        <img src="~/Themes/Img/bg.jpg" />
    </div>

    <div class="all" style="z-index:10"></div>

    <div class="container">
        <div class="header">
            <div class="header_left">
                <img src="~/Themes/Img/logo.png" />
                <span>Element</span>
                <div class="admin"><a href="/CGCHECK/CheckSupplier">采购系统后台</a></div>
            </div>

        </div>
        <div class="nav">
            <ul>
                <li class="li_1">
                    <span>产品管理</span>
                    <ul class="ul_1">
                        <li class="li_2">
                            <span>基础信息</span>
                            <ul class="ul_2">
                                <li><a href="/Class/ClassManage?level=0">分类管理</a></li>
                                <li><a href="/Brand/BrandManage?classid=0">品牌管理 </a></li>
                                <li><a href="/Store/PStyleList">款式管理 </a></li>
                                <li><a href="/Store/ProductList">产品管理</a></li>
                            </ul>
                        </li>
                        <li class="li_2">
                            <span>发布产品</span>
                            <ul class="ul_2">
                                <li><a href="/Store/ConventionalPList/?productType=1">普通产品管理</a></li>
                                <li><a href="/Store/SpecialPList/?productType=2">特价产品管理</a></li>
                            </ul>
                        </li>
                   
                    </ul>
                </li>

                <li class="li_1">
                    <span>CMS管理</span>
                    <ul class="ul_1">
                        <li><a href="/Cms/CmsManage">CMS模板管理</a></li>
                        <li><a href="/Cms/CmsProductBind">CMS内容生成</a></li>
                        <li><a href="/Cms/CMSContentManage">CMS内容管理</a></li>
                        <li><a href="/Cms/NoticeManage">公告管理</a></li>
                        <li><a href="/Help/ShoppingDirectoryManage">购物指南内容管理</a></li>
                        <li><a href="/Message/SendMsgList">短信通知</a></li>
                        <li><a href="/Cms/WeiXinQNewsManage">微信文章管理</a></li> 
                        <li><a href="/Cms/WeiXinUrlManage">微信导航链接</a></li>
                    </ul>
                </li>

                <li class="li_1">
                    <span>订单物流信息管理</span>
                    <ul class="ul_1">
                        <li><a href="/Order/OrderManage">订单管理</a></li> 
                        <li><a href="/Order/OrderCreate">订单生成</a></li>
                        <li><a href="/Order/EvaluationManage">评价管理</a></li>
                        <li><a href="/Order/ReturnOrderCheck">退换货订单管理</a></li>
                    </ul>
                </li>

                <li class="li_1">
                    <span>用户管理</span>
                    <ul class="ul_1">
                        <li><a href="/Check/CheckSupplier">企业用户审核</a></li>
                        <li><a href="/Check/CheckPersonalInfo">个人用户审核</a></li>
                    </ul>
                </li> 
                <li class="li_1">
                    <span>财务管理</span>
                    <ul class="ul_1">
                        <li><a href="/Finance/DoRefundManage">退款管理</a></li>
                        <li><a href="/Finance/RecivedConfirm">确认收款</a></li>
                        <li><a href="/Finance/RefundManage">特殊退款需求</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        @RenderBody()


    </div>
</body>
</html>
