<?xml version="1.0" encoding="utf-8"?>
<ConfigCommonEntity> 
  <PageSize>20</PageSize>
  <HtmlService>\\127.0.0.1</HtmlService>
  <Site_HtmlPath>\Html\</Site_HtmlPath>
  <FtpServer>127.0.0.1</FtpServer>
  <FtpUserName>Ftp</FtpUserName>
  <FtpPassWord>123456</FtpPassWord>
  <FtpImagesRootPath>/Files/Images/</FtpImagesRootPath>
  <FtpImagesSystemName>1dianxinB2B/</FtpImagesSystemName> 
  <MemberCookieName>MemberCookieName</MemberCookieName>
  <RegisterMemCookieName>RegisterMemCookieName</RegisterMemCookieName>
  <ComBineCart>ComBineCart</ComBineCart>
  <CookieDomain>.1dianxin.com</CookieDomain>
  <ImagesServerUrl>http://images.1dianxin.com</ImagesServerUrl>
  <MainWebUrl>http://www.1dianxin.com</MainWebUrl>
  <MainMobileWebUrl>http://m.1dianxin.com</MainMobileWebUrl>
  <SysWebUrl>http://sys.1dianxin.com</SysWebUrl>
  <SysMobileWebUrl>http://sys.1dianxin.com</SysMobileWebUrl>
  <MemMobileWebUrl>http://person.1dianxin.com</MemMobileWebUrl>
  <HelpWebUrl>http://www.1dianxin.com</HelpWebUrl>
  <StaticWebUrl>http://static.1dianxin.com</StaticWebUrl>
  <HelpMobileWebUrl>http://www.1dianxin.com</HelpMobileWebUrl>
  <LoginWebUrl>http://login.1dianxin.com</LoginWebUrl>
  <LoginMobileWebUrl>http://loginm.1dianxin.com</LoginMobileWebUrl>
  <WeChatWebUrl>http://wechat.1dianxin.com</WeChatWebUrl>
  <InquiryWebUrl>http://inquiry.1dianxin.com</InquiryWebUrl>
  <InquiryMobileWebUrl>http://inquiry.1dianxin.com</InquiryMobileWebUrl>
  <MemberWebUrl>http://www.1dianxin.com</MemberWebUrl>
  <MemberMobileWebUrl>http://m.1dianxin.com/MobileMember/Home</MemberMobileWebUrl>
  <CartCookie>1</CartCookie>
  <XuQiuCookie>1</XuQiuCookie>
  <DomainShopping>http://www.1dianxin.com</DomainShopping> 
  <JsVersion>
    <GlobalCarts>3</GlobalCarts>
  </JsVersion>
  <CssVersion>
    <MemberStyle>2</MemberStyle>
  </CssVersion>
  <SendMailManager>20718505@qq.com</SendMailManager> 
  <MobileRegMsgBody>您的验证码是：{0},(易店心手机动态码，请完成验证）如非本人操作，请忽略本短信。【易店心】</MobileRegMsgBody>
</ConfigCommonEntity>
