<?xml version="1.0" encoding="utf-8"?>
<ConfigCommonEntity> 
  <PageSize>20</PageSize>
  <HtmlService>\\120.55.160.236</HtmlService>
  <Site_HtmlPath>\Html\</Site_HtmlPath>
  <FtpServer>120.55.160.236</FtpServer>
  <FtpUserName>iZ11n4cuviuZ\ftp</FtpUserName>
  <FtpPassWord>dx31349908</FtpPassWord>
  <FtpImagesRootPath>/Files/Images/</FtpImagesRootPath>
  <FtpImagesSystemName>xindahvB2B/</FtpImagesSystemName> 
  <MemberCookieName>MemberCookieName</MemberCookieName>
  <RegisterMemCookieName>RegisterMemCookieName</RegisterMemCookieName>
  <ComBineCart>ComBineCart</ComBineCart>
  <CookieDomain>.xindahv.com</CookieDomain>
  <ImagesServerUrl>http://images.xindahv.com</ImagesServerUrl>
  <MainWebUrl>http://www2.xindahv.com</MainWebUrl>
  <MainMobileWebUrl>http://m.xindahv.com</MainMobileWebUrl>
  <SysWebUrl>http://sys.xindahv.com</SysWebUrl>
  <SysMobileWebUrl>http://sys.xindahv.com</SysMobileWebUrl>
  <MemMobileWebUrl>http://person.xindahv.com</MemMobileWebUrl>
  <HelpWebUrl>http://www2.xindahv.com</HelpWebUrl>
  <StaticWebUrl>http://static.xindahv.com</StaticWebUrl>
  <HelpMobileWebUrl>http://www2.xindahv.com</HelpMobileWebUrl>
  <LoginWebUrl>http://login.xindahv.com</LoginWebUrl>
  <LoginMobileWebUrl>http://loginm.xindahv.com</LoginMobileWebUrl>
  <WeChatWebUrl>http://wechat.xindahv.com</WeChatWebUrl>
  <InquiryWebUrl>http://inquiry.xindahv.com</InquiryWebUrl>
  <InquiryMobileWebUrl>http://inquiry.xindahv.com</InquiryMobileWebUrl>
  <MemberWebUrl>http://www2.xindahv.com</MemberWebUrl>
  <MemberMobileWebUrl>http://m.xindahv.com/Member/Home</MemberMobileWebUrl>
  <CartCookie>1</CartCookie>
  <XuQiuCookie>1</XuQiuCookie>
  <DomainShopping>http://www2.xindahv.com</DomainShopping> 
  <JsVersion>
    <GlobalCarts>3</GlobalCarts>
  </JsVersion>
  <CssVersion>
    <MemberStyle>2</MemberStyle>
  </CssVersion>
  <SendMailManager>20718505@qq.com</SendMailManager> 
  <MobileRegMsgBody>您的验证码是：{0},(易店心手机动态码，请完成验证）如非本人操作，请忽略本短信。【易店心】</MobileRegMsgBody>
</ConfigCommonEntity>
