@{
    SuperMarket.Model.VWMemberEntity mem = ViewBag.VWMember;
}
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易店心-我的信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <link rel="shortcut icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Themes/Basic/css/amazeui.min.css">
    <link href="/themes/basic/css/basic.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="/Themes/Basic/css/personal.css"> 
    <link href="/themes/basic/css/relogin.css" rel="stylesheet" />
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
    <script src="/themes/basic/js/common.js"></script>
</head>
<body>
     <div class="validate">
        <!----头部开始------>
        <header data-am-widget="header" class="am-header header">
            @Html.Partial("controls/_HeadLeftBanner")
            <h1 class="am-header-title">
               基本信息
            </h1>
            <div class="am-header-right am-header-nav"> 
            </div>
        </header>  
         <p id="error" style="text-indent: 1rem; margin-bottom: 0; padding: .5rem 0; color:red; margin-top: 0;"></p>
            <!---------企业信息---------->
            <div class="validate-form">
                <div class="validate-input">
                    <span>手机号码:</span>
                    <input type="text" id="txtMobilePhone" readonly="readonly"    value="@mem.MobilePhone"  >
                </div>
                <div class="validate-input">
                    <span>昵称:</span>
                    <input type="text" id="txtMemNikeName"  value="@mem.MemNikeName" placeholder="请输入">
                </div>  
                <div class="validate-input">
                    <span>微信号:</span>
                    <span>绑定</span>
                </div>
                
            </div> 
            <!--------推荐联系人结束-------->
         <div style="padding: 1rem 2rem">
             <a class="am-btn register-sub" href="javascript:void(0);" onclick="SaveBasicMsg()">保 存</a>
         </div>
    </div>
</body>
</html> 

<script>
    function SaveBasicMsg()
    {
        var mobile = $("#txtMobilePhone").val();
        var nikename = $("#txtMemNikeName").val();
        $.ajax({
            url: "/Member/SaveBasicMsg",
            type: "POST",
            dataType: 'json',
            data: { mobile: mobile, nikename: nikename },
            success: function (data) {
                var _returncode = data;
                //var _returncode = eval("(" + data + ")");
                var _returnStatus = -_returncode.Status;
                if (_returnStatus == _TheArray[0]) {
                }
                else {
                    $("#error").html(_TheArray[_returnStatus]);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
            },
            complete: function (data, status) {
            }
        });
    }
</script>