<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易店心-联系我们</title> 
    <meta name="renderer" content="webkit"> 
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <link rel="shortcut icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/themes/basic/css/amazeui.min.css">
    <link rel="stylesheet" href="/themes/basic/css/basic.css">
    <link rel="stylesheet" href="/themes/basic/css/personal.css">    
    <script src="/themes/basic/js/jquery.min.js"></script> 
    <script src="/themes/basic/js/amazeui.min.js"></script>
    <script src="/themes/basic/js/common.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script> 
</head>
<body>
    <div style="display:none;"><input type="hidden" id="hidLoginWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
    </div>
    
    <!----header开始----->
    <header data-am-widget="header" class="am-header am-header-fixed personal-header">
        @Html.Partial("controls/_HeadBanner") 
        <h1 class="am-header-title">
            <a href="javascript:void(0)">
                客户服务
            </a>
        </h1>
    </header>
    <!----header结束----->
    <!-------内容开始---------->
    <div class="service">
        <ul>
            <li>易店心客服热线：<span> </span></li>
            <li>易店心客服邮箱地址：<span> </span></li>
            <li>易店心是在“互联网+”的背景下，整合上游汽车零部件生产厂商，为广大商家提供高品质产品为宗旨的综合性汽车零部件在线交易平台,易店心已经正式上线了，目前产品在不断上架和完善的过程中，如果您有什么需求，可以随时致电客服服务电话，我们将为您提供全方位的服务，确保您购买到满意的产品！</li>
        </ul>
    </div>
    <!-------内容结束---------->
    <!--------nav footer开始--------->
    @Html.Partial("controls/_FootBanner")
    @Html.Partial("controls/_BodyBefore")
</body>
</html>