
@{
    ViewBag.Title = "忘记密码";
}

<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易店心-忘记密码</title> 
    <meta name="renderer" content="webkit">  
    <meta http-equiv="Cache-Control" content="no-siteapp" />  
    <link rel="shortcut icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Themes/Basic/css/amazeui.min.css">
    <link href="/themes/basic/css/basic.css" rel="stylesheet" />
    <link href="/themes/basic/css/basic.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Themes/Basic/css/relogin.css">
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
    <script src="/themes/basic/js/common.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script src="/themes/common/js/jsglobalenum.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
</head>
<body><div style="display:none;">
    <input type="hidden" id="hidLoginWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
</div>
    <div class="register">
        <!----头部开始------>
        <header data-am-widget="header" class="am-header header">
            @Html.Partial("Controls/_HeadBanner")
            <h1 class="am-header-title">
                <a href="javascript:void(0)">
                    忘记密码
                </a>
            </h1>
        </header>
        <!----头部结束------>
        <!---注册开始---->
        <div class="register-main">
            <p id="perrormsg" style="text-indent: 1rem; margin-bottom: 0; padding: .5rem 0; color:red; margin-top: 0; display:none;"></p>
            <form action="" class="am-form am-form-inline">
                <div class="am-form-icon user-ipone">
                    <i class="am-icon-mobile-phone"></i>
                    <input type="text" class="am-form-field" id="txtPhone" placeholder="请输入手机号码">
                </div>

                <div class="am-form-icon user-ipone2">
                    <i class="am-icon-mobile-phone"></i>
                    <input type="text" class="am-form-field"  id="txtCheckCode"  placeholder="请输入手机验证码">
                    <a href="javascript:void(0)" id="divTime" style="display:none;" class="user-ipone-a"></a>
                    <a href="javascript:void(0);" onclick="FunGetCheckCode()" id="divGetCode" class="user-ipone-a">获取验证码</a>
                </div>
            </form>
            <div style="padding: 1rem 2rem">
                <button class="am-btn register-sub"  onclick="FunSubmitForget()" type="button">下一步</button>
            </div>
        </div>
    </div>
    @Html.Partial("controls/_BodyBefore")
</body>
</html>
<script>
    var _max = 60;
    var _interval;

    //设置验证码
    function FunGetCheckCode() {

        var _mobile = $("#txtPhone").val().trim();
        if (!_mobile.isHandSet()) {
            alert("号码错误");
            return;
        }
        $.post("/Home/CheckPhoneIsExist", { mobilePhone: _mobile }, function (data) {
            var _returncode = eval("(" + data + ")");
            var _returnStatus = -_returncode.Status;
            if (_returnStatus == _TheArray[0]) {
                FunCountDown();

                $.ajax({
                    url: "/Home/SendMobileMessage",
                    type: "GET",
                    dataType: "json",
                    data: { mobile: _mobile },
                    suceess: function (data) {

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Http status: " + xhr.status + " " + xhr.statusText + "\najaxOptions: " + ajaxOptions + "\nthrownError:" + thrownError + "\n" + xhr.responseText);
                    },
                    complete: function (data, status) {
                    }

                });
            }
            else { 
                alert(_TheArray[_returnStatus]);
            }
        }); 
    }
    function FunCountDown() {
        $("#divGetCode").hide();
        $("#divTime").show();
        _interval = setInterval("ChangeText()", 1000);
        _max = _max - 1;
        $("#divTime").html(_max + "S");
    }
    function ChangeText() {

        _max = _max - 1;
        if (_max <= 0) {
            $("#divGetCode").show();
            $("#divTime").hide();
            clearInterval(_interval);
            _max = 60;
        }
        $("#divTime").html(_max + "S");
    }

    //提交修改密码申请
    function FunSubmitForget() {

        var _mobilephone = $("#txtPhone").val().trim();
        var _checkcode = $("#txtCheckCode").val().trim();

        $.post("/Home/ConfirmPersonalInfo", { mobile: _mobilephone, vCode: _checkcode }, function (data) {
            var _returncode = eval("(" + data + ")");
            var status = -_returncode.Status;
            if (status == _TheArray[0]) {
                var tempcode = _returncode.Obj; 
                window.location.href = "/MobileHome/ForgetPwdReset?key=" + tempcode;
                return false;
            }
            else {
                alert(_TheArray[status]);
                return false;
            }
          
        });

    }
</script>