
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易店心手机网站正式上线啦</title> 
    <meta name="renderer" content="webkit"> 
    <link rel="icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <meta name="keywords" content="易店心" />
<meta name="description" content="易店心" />
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
   
    <link rel="stylesheet" href="/Themes/Basic/css/amazeui.min.css">
    <link rel="stylesheet" href="/Themes/Basic/css/start.css">
    <meta name="image" content=""> 
<div id='wx_pic' style='margin:0 auto;display:none;'>
    <img src='' />
</div> 
</head>
<body>
<div style="display:none;">
    <img src="" alt="易店心" title="易店心">
</div>
<div style="display:none;"><div style="display:none;">
    <input type="hidden" id="hidLoginWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
</div>
    <input name="title" value="易店心" />
    <input name="imgUrl" value="" />
    <input name="desc" value="易店心" />
</div>   
    <div class="start-main">
        <div class="start">
            <img id="imgtop1" src="http://images.xindahv.com/autoupload/homeimg/dt/m00.jpg"  class="am-img-responsive" /> 
        </div> 
        <div class="start2">
            <img id="imgtop2" src="/Themes/Basic/img/start/top2.jpg"> 
        </div>
        <div class="start3 am-cf">
            <a href="/Home/Index">
                进入易店心
            </a>
        </div>
    </div>  
        <script>
            function jumpurl() {
                location = '/Home/index';
            }
            setTimeout('jumpurl()', 3000);
        </script> 
</body>
</html>