<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>

  </configSections> 
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=120.55.160.236;Initial Catalog=SuperMarket;User ID=xue;Password=123456;"  providerName="System.Data.SqlClient"  />

  </connectionStrings>
  <appSettings> 
    <add key="IsFtpServer"  value="false"  />
    <add key="FtpServerPathPrefix"  value="D:\FTP上传"  />
    <add key="ImagePath"  value="/Files/Images"  />
    <add key="LocalFileRootPath"  value="D:\FTP上传\Files\Images"  />
 
    <add key="NumOnceDeal"  value="20"  />
    <add key="SleepTime"  value="20000"  /> 
     <add key="ConfigCommon"  value="E:\New201712\GitHub\StartWeb\SuperMarket.Web\SuPerMarket.Web.WeChat\Common.config"  />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>